<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485316780484-7v8g0393lgc4kk4h7o9n3hgakhccje1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485316780484-7v8g0393lgc4kk4h7o9n3hgakhccje1k</string>
	<key>API_KEY</key>
	<string>AIzaSyC9w_Lf3qJxnEtFLfQGKzb3tEkmEJ9AyfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>485316780484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autismFinalProject</string>
	<key>PROJECT_ID</key>
	<string>autism-project-api</string>
	<key>STORAGE_BUCKET</key>
	<string>autism-project-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485316780484:ios:9502484af68c9ae27a8491</string>
</dict>
</plist>